.card {
	 margin-top: 10vh;
}

.col-3 {
	flex-direction: column;
	display: flex;
	margin: auto;
}

label {
	 margin-top: 2vh;
	 margin-bottom: 5vh!important;
	 font-weight: bold;
	 font-size: 1.4em;
}
