button {
	 width: 100%;
}


.row {
	 padding: 2vh 0;
}

.dateCol {
	flex-direction: column!important;
}

input {
	 width: 80px!important;
	 margin: 0 auto;
}

.dt-body-center {
	text-align: center;
}

@media (max-width: 500px) {
	.btns {
		  flex-direction: column;
	 }
}