button {
	 width: 100%;
}


.row {
	 padding: 2vh 0;
}

.dateCol {
	flex-direction: column!important;
}

input {
	 width: 80px!important;
}

@media (max-width: 500px) {
	 .btns {
		  flex-direction: column;
	 }
}