@model EvidencijaSati.Models.ViewModels.ErrorVM
@using EvidencijaSati.Resources

<div class="card card-body" style="margin-top: 10vh;">
	 <h1>@Common.Greska</h1>
	 <h2>@Common.Pokusaj_ponovo</h2>

	 <div style="width: 40%">
		  @Html.ActionLink(Common.Natrag, "Login", "Home", 
				new { @class = "btn btn-primary" })

	  </div>
</div>