@using EvidencijaSati.Resources

@Layout = null

<div class="modal-content">
	 <div class="modal-header">
		  <button class="close">
		  	 <span aria-hidden="true">&times;</span>
		  </button>
	  </div>
	 <div class="modal-body">
	 	 <div class="container">
	 	 	 <div class="row">
				  <h3>@Common.Promjene_spremljene</h3>
			 </div>
	 	 </div>
	 </div>
</div>