@model EvidencijaSati.Models.ViewModels.PregledSatnicaVM

<div class="container">
	 <div class="row">
	 	 <div class="col">

			 </div>
	 	 <div class="col"></div>
	 </div>

	 <div class="row">
		  <div class="card">
				<div class="card-header">

				</div>
				<div class="card-body">

				</div>
		  </div>
	 </div>

	 <div class="row">
	 	 <div class="col"></div>
	 	 <div class="col"></div>
	 </div>
</div>
