@model EvidencijaSati.Models.ViewModels.UnosSatiVM

<h1>Pozdrav @Model.Djelatnik.Ime !</h1>

<div class="container">
	  @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmSatnica" }))
	  {
		  <div class="row">
				<p>Odaberi Datum</p>
				@Html.TextBoxFor(s => s.Satnica.Datum, new
			  {
					@type = "date",
					@class = "form-control"
			  })
		  </div>
		  <div class="row">
				<div class="card card-body">

				</div>
			 </div>
		  <div class="row"></div>

	  }
</div>